body{
    background-color: rgb(232, 253, 255);
}
canvas {
    border: 1px solid rgb(0, 0, 0);
    position: absolute;
  }
  
  #main-canvas {
    background: rgba(256,256,256, 0.3);
  }  

  .logo-img{
      width: 350px;
  }

#game-menu{
    display:flex;
    flex-direction: column;
   align-items:center;
   justify-content: space-between;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-left: 35%;
   position: fixed;

}

.divInstructions{
    margin-left: 100px;
    text-align:center;
    margin-top: 50px;
    border:1px solid black;
    padding: 0 10px;
}
.redText{
    color:rgb(219, 11, 136);
    font-size: 1.5em;
}

body {
    padding: 0;
    text-align: center;
  }
  
  .game-intro {
    float: right;
    padding: 0% 10%;
  }
  
  body button {
    font-size: 30px;
    background-color: #c9434a;
    color: #fff;
    padding: 20px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 200px;
    cursor:pointer;
    margin-bottom: 20px;
  }
  
  .button{
    font-size: 30px;
    background-color: #cd5158;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    cursor:pointer;
    margin-bottom: 20px;
  }
  #start-btn{
      margin-left: 3%;
  }
  
  #game-board {
      float: left;
      padding: 20px 0px;
      display:flex;
      flex-direction: column;
      justify-content: center;
  }
  
  #endScreen{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 500px;
    background-color: white;
    border: 1px solid black;
  }

  
  #endScreen{
    position: absolute;
  
  }

  
  /* Class preventing pointer events while moving the car */
  .noPointers{
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }